@tailwind base;
@import "tailwindcss/components";

html{
  --bg: rgb(242, 247, 255);
  --text_color:#000;
  --text_h2_color:rgb(26, 26, 26);
  --border_color:rgba(0, 0, 0, 0.3);
  --text_java_color:rgb(26, 26, 26);
  --text_link_color:#007bff;
  --btn-bg-resume:#02248a;
  --btn-bg-hover-resume:#1842be;
}

html[data-theme='1'] {
  --bg: rgb(8, 8, 22);
  --text_color:rgb(247, 247, 247);
  --text_h2_color:rgb(209, 207, 207);
  --border_color:rgba(255, 255, 255, 0.3);
  --text_java_color:rgb(255, 234, 243);
  --text_link_color:#007bff;
  --btn-bg-resume:#2c61ff;
  --btn-bg-hover-resume:#96c1f6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: var(--bg);
  color:var(--text_color) ;
}

.iconJava{
  color: var(--text_java_color);
}

h2{
  color:var(--text_h2_color)
}

hr {
  margin: 1rem 0;
}

@page {
  margin: 1.5cm;
}

.container {
  max-width: 900px;
}

.btn {
  @apply rounded p-2;
}

.btn:active,
.btn:focus {
  @layer shadow-outline outline-none;
}

.btn-block {
  @apply block;
}

.btn-resume {
  @apply text-gray-100;
  background-color: var(--btn-bg-resume);
}

.btn-resume:hover {
  background-color: var( --btn-bg-hover-resume);
  color: var(--bg)
}

.btn-light {
  @apply bg-gray-200 text-gray-800;
}

.btn-light:hover {
  @apply bg-gray-300;
}

.link {
  color: var(--text_link_color);
}

.link:hover {
  text-decoration: underline;
}

.text-muted {
  @apply text-gray-600;
}

.small {
  font-size: 0.7em;
}

.medium {
  font-size: 1.0em;
}

@media print {
  .dont-page-break {
    page-break-inside: avoid;
  }

  .hide-when-printing {
    display: none;
  }
}

@import "tailwindcss/utilities";

.profile__image__wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 200px;
}

.profile__image__emojis {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  display: flex;
  flex-direction: column;
}

.list-disc.list-outside li {
  list-style: none;
}

.list-disc.list-outside li::before {
  content: "•";
  position: absolute;
  margin-left: -12px;
}

.border-fake {
  box-shadow: inset 0 0 0 0.1em var(--border_color);
}

.button-blog,
.button-blog:hover,
.button-blog:active {
  @apply text-gray-200 bg-gray-900 font-bold;
  background-image: url("/drawkit-rocket.svg");
  background-repeat: no-repeat;
  background-position: right -30px top -10px;
  background-size: 100px;
  transition: 0.6s all;
}

.button-blog:hover,
.button-blog:active {
  background-position: right -20px top -20px;
  background-size: 80px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}